
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body {
    background: #38685b;
    padding: 10px
}
body::-webkit-scrollbar {
    display: none;
}
section {
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('background.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.contact {
    position: relative;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content {
    width: 800px;
    text-align: center;
}
.contact .content h2 {
    color: #008149;
    font-size: 60px;
    font-weight: 500;
    background: linear-gradient#008149;
    background-size: 300% 300%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shadow 4s ease infinite;
}
@keyframes shadow {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0;
    }
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #008149;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactinfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3 {
    font-weight: 500;
    color: #fff;
}
.contactform {
    width: 40%;
    padding: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
}
.contactform h2 {
    font-size: 30px;
    font-weight: 500;
}
.contactform .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input, textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #008149;
    outline: none;
    background: none;
    color: #fff;
    resize: none;
}
.contactform .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    color: #fff;
    transition: 0.2s;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span {
    color:#008149;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputbox .button {
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #fff;
    transition: 0.2s;
}
.contactform .inputbox .button:hover {
    border: 1px solid #008149;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root{
    --main-color: #008149;
    --second-color: #38685b;
}

section{
    padding: 50px 10%;
}

*::selection{
    color: #fff;
    background: var(--main-color);
}

img{
    width: 100%;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 80px;
}

.navbar{
    display: flex;
}

.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}

.navbar a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background:black;
    gap: 1rem;
}

.home-text{
    flex: 1 1 17rem;
}

.home-img{
    flex: 1 1 17rem;
  
}

.home-img img{
    animation: animate 3s linear infinite;
    border-radius: 30px;

}

@keyframes animate{
    0%{
        transform: translate(-11px, 0);
    }

    50%{
        transform: translate(-0px, -11px);
    }

    100%{
        transform: translate(-11px, 0);
    }
}

.home-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
}

.home-text h1{
    font-size: 3.2rem;
    color: var(--main-color);
    font-weight: bolder;
}

.home-text h2{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
}


.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social a{
    font-size: 27px;
    margin: 0.5rem;
}

.social a .bx{
    padding: 5px;
    color: #fff;
    background: #000000;
    border-radius: 50%;
}

.social a .bx:hover{
    background: var(--main-color)
}

.links{
    margin: 1rem 0 1rem;
}

.links a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
}

.links a:hover{
    color: var(--main-color);
}

.contact p{
    text-align: center;
}

@media (max-width: 991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
}

@media (max-width: 768px) {
    header{
        padding: 11px 4%;
    }
    section {
        padding: 50px 7%;
    }
    #menu-icon{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(14 55 54/ 14%);
        border-top: 2px solid var(--main-color);
        transition: 0.2s;
        text-align: left;
    }
    .navbar.active{
        top: 100%;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
        color: var(--second-color);
    }

    .home-text span{
        font-size: 0.9rem;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
    .home-text h2{
        font-size: 1.2rem;
    }
}

@media (max-width: 768px){
    .home-text{
        padding-top: inherit;
    }
    .shop-container .box{
        margin-top: 6rem;
    }   
    .heading h1{
        font-size: 1.5rem;
    }
    .heading span{
        font-size: 0.9rem;
    }
    .about{
        flex-direction: column-reverse;
    }
}    
@media (max-width: 364px){
    .links{
        display: flex;
        flex-direction: column;
    }
}
